html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: block;
  min-width: 768px;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', 'Arial',  sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #000000;

  background-color: #d6cde5;
}

/* font-family: 'Fredericka the Great', cursive; */
/* font-family: 'Open Sans', sans-serif; */

.container {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding: 20px;

  background: #8469b0;
  border-radius: 5px;
}

.main-header {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.main-header__title {
  display: block;
  margin: 0;
  padding: 0;

  font-family: 'Fredericka the Great', cursive;
  font-size: 50px;
  font-weight: 100;
  line-height: 60px;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.search__input {
  display: block;
  flex-grow: 1;
  margin: 0;
  margin-top: 15px;
  padding: 5px 10px;

  font-family: 'Open Sans', 'Arial',  sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #000000;

  border-radius: 5px;
  border: none;
}

.main-content {
  display: block;
  margin: 0;
  padding: 0;
}

.todos {
  display: block;
  margin: 0;
  padding: 0;
}

.todos__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  padding: 10px 10px;

  background-color: #bbacd3;
  border-radius: 5px;
}

.todos__text {
  display: block;
  width: 355px;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', 'Arial',  sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.todos__importance {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #000000;
}

.todos__importance--low {
  background-color: #96d243;
}

.todos__importance--middle {
  background-color: #ffbc26;
}
.todos__importance--high {
  background-color: #ff2a36;
}

.todos__delete-btn {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/todo__delete-btn-icon.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  border: none;
  /* border-radius: 50%; */
  cursor: pointer;
}

.main-footer {
  display: block;
  margin: 0;
  margin-top: 35px;
  padding: 0;
}

.add-task {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.add-task__title {
  display: block;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', 'Arial',  sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.add-task__input-field {
  display: block;
  margin: 0;
  padding: 5px 10px;

  font-family: 'Open Sans', 'Arial',  sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #000000;

  border-radius: 5px;
  border: none;
}

.add-task__priority {
  display: block;
  margin: 0;
  margin-top: 10px;
  padding: 5px 10px;

  font-family: 'Open Sans', 'Arial',  sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #000000;

  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.add-task__btn {
  display: block;
  margin: 0;
  margin-top: 10px;
  padding: 5px 10px;

  font-family: 'Open Sans', 'Arial',  sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;

  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.add-task__btn:hover {
  background-color: lightgray;
}

.add-task__btn:active {
  background-color: darkgray;
}

.hidden {
  display: none;
}